
<div class="bbva-widget-content">

    <div class="col-md-12 bbva-widget-content-column">

        <div class="bbva-widget-section">
            <h3 class="bbva-widget-section-title ng-binding">
                <i class="fa fa-sitemap glyphicon-big"></i>
                Familias de Procesos
                  <span class="pull-right">
                    <a href="" title="collapsing widget" ng-show="!isFilterChartCollapsed" ng-click="isFilterChartCollapsed = !isFilterChartCollapsed" class="">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a href="" title="expand widget" ng-show="isFilterChartCollapsed" ng-click="isFilterChartCollapsed = !isFilterChartCollapsed" class="ng-hide">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                  </span>
            </h3>
            <hr>
            <div collapse="isFilterChartCollapsed">

                <!-- Family -->
                <div class="form-group">
                    <label>Familia</label>
                    <select ng-model="filter.idSelectedFamily" ng-options="obj.family as obj.family for obj in families"  class="form-control">
                    </select>
                </div>

                <!-- SubFamily -->
                <div class="form-group">
                    <label>SubFamilia</label>
                    <select ng-model="filter.idSelectedSubFamily" ng-options="obj.subfamily as obj.subfamily for obj in subfamilies"
                            ng-disabled="filter.idSelectedFamily==null" class="form-control"></select>
                </div>

                <!-- Process -->
                <div class="form-group">
                    <label>Proceso</label>
                    <select ng-model="filter.idSelectedProcess" ng-options="obj.process as obj.process for obj in processes"
                            ng-disabled="filter.idSelectedSubFamily==null" class="form-control"></select>
                </div>

                <!-- Operation Type -->
                <div class="form-group">
                    <label>Tipo Operación</label>
                    <select ng-model="filter.idSelectedOperationType" ng-options="o as o for o in typeOperations"
                            ng-disabled="filter.idSelectedProcess==null" class="form-control"></select>
                </div>

            </div>
        </div>

        <div class="bbva-widget-section">
            <h3 class="bbva-widget-section-title ng-binding">
                <i class="fa fa-clock-o glyphicon-big"></i>
                Intervalo de Tiempo
                  <span class="pull-right">
                    <a href="" title="collapsing widget" ng-show="!isCollapsed" ng-click="isCollapsed = !isCollapsed" class="">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a href="" title="expand widget" ng-show="isCollapsed" ng-click="isCollapsed = !isCollapsed" class="ng-hide">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                  </span>
            </h3>
            <hr>
            <div collapse="isCollapsed">

                <!-- Filter Mode -->
                <div class="form-group">

                    <div class="btn-group btn-flex">
                        <label class="btn btn-bbva btn-bbva-yellow btn-half-flex" ng-model="filter.modeTime" btn-radio="'D'">Días</label>
                        <label class="btn btn-bbva btn-bbva-yellow btn-half-flex" ng-model="filter.modeTime" btn-radio="'M'">Meses</label>
                    </div>
                </div>

                <!-- Day Filter Mode-->
                <div ng-show="filter.modeTime == 'D'">
                    <!-- Start Date -->
                    <div class="form-group">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" ng-disabled="!filter.modeTime">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Día de inicio..."
                                           data-ng-model="startDateText"  ng-disabled="!filter.modeTime">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                                <datetimepicker data-ng-model="filter.startDate"
                                                data-on-set-time='onStartDateSet()'
                                                data-datetimepicker-config="dayDatePickerOptions"></datetimepicker>
                            </ul>
                        </div>
                    </div>

                    <!-- End Date  -->
                    <div class="form-group">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownEndDate" role="button" data-toggle="dropdown" ng-disabled="!filter.modeTime">
                                <div class="input-group">
                                    <input type="text" class="form-control"  placeholder="Día de fin..." data-ng-model="endDateText"  ng-disabled="!filter.modeTime">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="filter.endDate"
                                                data-on-set-time='onEndDateSet()'
                                                data-datetimepicker-config="dayDatePickerOptions"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Mothn Filter Mode-->
                <div ng-show="filter.modeTime == 'M'">
                    <!-- Start Date -->
                    <div class="form-group">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownStartMonth" role="button" data-toggle="dropdown" ng-disabled="!filter.modeTime">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Mes de inicio..."
                                           data-ng-model="startDateMonthText"  ng-disabled="!filter.modeTime">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                                <datetimepicker data-ng-model="filter.startDateMonth"
                                                data-on-set-time='onStartDateSet()'
                                                data-datetimepicker-config="monthDatePickerOptions"></datetimepicker>
                            </ul>
                        </div>
                    </div>

                    <!-- End Date  -->
                    <div class="form-group">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownEndDateMonth" role="button" data-toggle="dropdown" ng-disabled="!filter.modeTime">
                                <div class="input-group">
                                    <input type="text" class="form-control"  placeholder="Mes de fin..." data-ng-model="endDateMonthText"  ng-disabled="!filter.modeTime">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker data-ng-model="filter.endDateMonth"
                                                data-on-set-time='onEndDateSet()'
                                                data-datetimepicker-config="monthDatePickerOptions"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bbva-widget-section">
            <h3 class="bbva-widget-section-title ng-binding">
                <i class="fa fa-sliders glyphicon-big"></i>
                Preferencias
              <span class="pull-right">
                <a href="" title="save user preferences" ng-click="toogleConfiguration()"  class="">
                    <i class="fa fa-check fa-lg {{config.userConfig? 'hasSelecion':'noSelection'}} "></i>
                </a>
              </span>
            </h3>
            <hr>
        </div>

    </div>

    <!-- Button Bottom Bar -->
    <div class="col-md-12 buttonBottomBar background-bbva">

    </div>

</div>

